In [25]:
#import dependences
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
#import pymongo
import pandas as pd

In [2]:
# Initialize PyMongo to work with MongoDBs
#conn = 'mongodb://localhost:27017'
#client = pymongo.MongoClient(conn)

In [3]:
# Define database and collection
#db = client.craigslist_db
#collection = db.items

In [4]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [9]:
# Visit the NASA news URL
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [12]:
# Scrape page into soup
html = browser.html
soup = bs(html, 'html.parser')

In [15]:
# Examine the results, then determine element that contains sought info
# results are returned as an iterable list
title = soup.find('div', class_='content_title')
news_title = title.a.text
news_p = soup.find('div', class_='article_teaser_body').text

print(news_title)
print(news_p)

NASA's InSight Takes Its First Selfie
Two new image mosaics detail the lander's deck and "workspace" — the surface where it will eventually set down its science instruments.

In [9]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [10]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Retrieve all elements that contain book information
articles = soup.find('article',class_='carousel_item')['style']
url = articles.split('\'')[1]
featured_image_url="https://www.jpl.nasa.gov"+str(url)
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19685-1920x1200.jpg

In [16]:
url3="https://twitter.com/marswxreport?lang=en"
browser.visit(url3)

In [17]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [20]:
#get the result
tweet=soup.find('p',class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")
mars_weather=tweet.text
print(mars_weather)

Sol 2255 (2018-12-10), high -11C/12F, low -71C/-95F, pressure at 8.41 hPa, daylight 06:36-18:50

In [23]:
url4="https://space-facts.com/mars/"

In [26]:
#scrap tables with pandas
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [27]:
df = tables[0]
df.columns = ['parameter', 'value']
df.head()

              parameter                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [28]:
df.to_html('table.html')

In [29]:
url5="https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced"
browser.visit(url5)

In [30]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [34]:
#get the result
Cerberus_title=soup.find('h2',class_="title").text
Cerberus_img="https://astrogeology.usgs.gov"+str(soup.find('img',class_="wide-image")['src'])
print(Cerberus_title)
print(Cerberus_img)

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg